<div class="page__container">
  <div class="page ">
    <div class="page__layout">
      <div class="page__left">
        <div class="page__wrapper">
          <div class="product__image">
            <div class="numbertext" id="numbertext"></div>
            <a (click)="prevImage()" class="prev_image" style="color: #FF3366;"><</a>
            <div>
              <img id="mainImage" alt="Image">
            </div>
            <a (click)="nextImage()" class="next_image" style="color: #FF3366;">></a>
            <div style="text-align:center" id="dot">
              <span *ngFor="let item of arrayImage; index as i">
                <span class="dot" (click)="changeSlide(i)"
                      style="cursor: pointer; height: 15px;
                      width: 15px; margin: 0 2px;
                      background-color: #FF3366;
                      border-radius: 50%; display: inline-block;
                      transition: background-color 0.6s ease;">
                </span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="page__right" *ngIf="product">
        <h2 class="product__title">{{product.nameProduct}}</h2>
        <div class="product__auction-info">
          <div class="start__day">
            <p>Start: {{product.startDate}}</p>
          </div>
          <div class="end__day">
            <p>End: {{product.endDate}}</p>
          </div>
        </div>
        <div class="product__auction">
          <div class="displayflex">
            <span>Time remain: &#160;&#160;</span>
            <span class="product__auction-time" id="time-remain"></span>
          </div>
          <br>
          <div class="product__auctioneer">
            <span>Auctioneer:  &#160; {{product.members[0].nameMember}}</span>
          </div>
          <br>
          <div class="product__auction-info">
            <div class="product__auction-price">
              <h5>Original price (USD)</h5>
              <p>{{product.initialPrice}}</p>
            </div>
            <div class="product__auction-winner">
              <h5>Current price (USD)</h5>
              <p id="priceStep">{{product.finalPrice}}</p>
            </div>
            <div class="product__auction-winner">
              <h5>Current highest bidder</h5>
              <p>Johnson1999</p>
            </div>
          </div>
        </div>
        <br>
        <div>
          <span>Want to bid?</span>
          <button class="btn btn-auction ">Join the auction now</button>
        </div>
      </div>
    </div>
    <div class="product__description">
      <h4 class="product__description-title">
        Product Description
      </h4>
      <p style="font-size: 18px">Upgrade to a new phone by buying the Samsung Galaxy S22 Ultra 5G that is
        available at the best prices online on Gadgets Now. Launched on February 9, 2022 (Official) in India,
        the mobile is available with striking features and adequate specifications at an introductory price of
        Rs 71,564.
        <br> The camera of the phone helps you capture stunning pictures as it comes with a
        Single camera setup on the rear which has 108 MP + 12 MP + 10 MP + 10 MP cameras. While on the front,
        the mobile sports a 40 MP front camera so that you can click some amazing selfies and make video calls.
        <br>
        You will indulge in an immersive way while watching movies or playing games on this phone as it features
        a 6.8 inches (17.27 cm) display that has a resolution of 1440 x 3080 Pixels.
        <br>
        Besides, the mobile runs on the Android v12 operating system that offers you faster updates and is
        packed with 5000 mAh battery that lets you enjoy watching movies, playing games, and do a lot more on
        a single full charge.
        <br>
        The mobile does not lag performance-wise as it is equipped with Octa-core (1x3.00 GHz Cortex-X2 & 3x2.40
        GHz Cortex-A710 & 4x1.70 GHz Cortex-A510) Qualcomm SM8450 Snapdragon 8 Gen 1 and comes with 8 GB of RAM
        and 128 GB of inbuilt storage. Hence, it offers seamless and responsive performance while accessing multiple
        apps. Also, you can store various files like songs, videos, games, and more without worrying about space
        constraints.
        <br>
        Various connectivity options on the Samsung Galaxy S22 Ultra 5G include WiFi - 802.11, a/ac/b/g/n, Mobile
        Hotspot,
        Bluetooth - v5.2, and 5G supported by device (network not rolled-out in India), 4G (supports Indian bands), 3G,
        2G.
        Sensors on the mobile include Accelerometer, Barometer, Gyro Sensor, Geomagnetic Sensor, Hall Sensor, Light
        Sensor,
        Proximity Sensor.
        This durable and easy to carry phone measures 163.3 mm x 77.9 mm x 8.9 mm and weighs around 229 grams.
      </p>
      <!--      <button onclick="myFunction()" id="myBtn" class="btn btn-auction">Show more</button>-->
    </div>
    <div class="product__description">
      <div class="row">
        <div class="col-6">
          <h4 class="product__description-title">Information Receive</h4>
          <div class="info">
            <span><i class="fa-solid fa-location-arrow"></i>&#160; Address </span>
            <p>{{product.members[0].addressMember}}</p>
            <span><i class="fa-solid fa-phone-flip"></i> &#160;Phone Number</span>
            <p>{{product.members[0].phoneMember}}</p>
            <span><i class="fa-solid fa-truck"></i> &#160;Shipping services</span>
            <p>Shipping services offers value-added services such as collection and
              delivery options, delivery
              notification, and special handling to meet your shipping needs. (Value-added service
              offerings vary by country.)</p>
          </div>
        </div>
        <div class="col-6">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d479.21905197383325!2d108.20951899679915!3d16.07833254370184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314219a486b7f699%3A0xae6269b629a63e82!2zVHJ1bmcgdMOibSDEkcOgbyB04bqhbyBs4bqtcCB0csOsbmggdmnDqm4gQ29kZUd5bSDEkMOgIE7hurVuZw!5e0!3m2!1svi!2s!4v1656658390900!5m2!1svi!2s"
            width="550" height="290" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
