<app-header-admin></app-header-admin>
<app-navbar-admin></app-navbar-admin>
<!-- Đây là component để chính -->
<section id="main-content">
  <section class="wrapper">
    <div class="container-fluid">
      <h2>Product Review</h2>
      <!--      <div class="horizontal-line"></div>-->
      <div class="align-items-center justify-content-center">
        <div style="padding-inline: 30px">
          <table class="table" style="font-size: 16px">
            <tr>
              <td class="attributes">Product Name</td>
              <td>{{product.nameProduct}}</td>
            </tr>
            <tr>
              <td colspan="2" class="attributes">Seller Information</td>
            </tr>
            <tr>
              <td class="attributes" style="padding-left: 50px;">ID</td>
              <td>{{product.member.idMember}}</td>
            </tr>
            <tr>
              <td class="attributes" style="padding-left: 50px;">Full Name</td>
              <td>{{product.member.nameMember}}</td>
            </tr>
            <tr>
              <td class="attributes" style="padding-left: 50px;">Email</td>
              <td>{{product.member.emailMember}}</td>
            </tr>
            <tr>
              <td class="attributes">Product Type</td>
              <td>{{product.typeProduct.nameProductType}}</td>
            </tr>
            <tr>
              <td class="attributes">Initial Price</td>
              <td>{{product.initialPrice}}</td>
            </tr>
            <tr>
              <td class="attributes">Price Increment</td>
              <td>{{product.incrementPrice}}</td>
            </tr>
            <tr>
              <td colspan="2" class="attributes">Product Images</td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="row">
                  <div class="col" *ngFor="let image of product.imageProductList, index as i">
                    <img class="demo cursor thumbnail"
                         [src]="product.imageProductList[i].imageProduct"
                         style="width:100%; height: auto" alt="The Woods">
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td class="attributes">Bidding Start Time</td>
              <td>{{product.startDate}}</td>
            </tr>
            <tr>
              <td class="attributes">Bidding End Time</td>
              <td>{{product.endDate}}</td>
            </tr>
            <tr>
              <td class="attributes">Description</td>
              <td>{{product.productDescription}}</td>
            </tr>
          </table>
          <div style="margin-bottom: 20px;display: flex;justify-content: center;" *ngIf="product.approvalStatus.idApprovalStatus === 2;then disableButtons  else enableButtons">
          </div>
          <ng-template #enableButtons>
            <div style="margin-bottom: 20px;display: flex;justify-content: center">
              <button type="button" class="btn" style="margin: 0 10px;" (click)="approveProduct()">Approve</button>
              <button type="button" class="btn" style="margin: 0 10px;" (click)="rejectProduct()">Reject</button>
              <button type="button" class="btn" style="margin: 0 10px;"><a [routerLink]="['/admin/product/list']">Back</a></button>
            </div>
          </ng-template>
          <ng-template #disableButtons>
            <div style="margin-bottom: 20px;display: flex;justify-content: center">
              <button type="button" class="btn" style="margin: 0 10px;"><a [routerLink]="['/admin/product/list']">Back</a></button>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </section>
</section>
<app-footer-admin></app-footer-admin>
