
<div class="chat-admin__container">
  <div class="header" style="border-bottom: 1px solid #dadada;"><h3>Header</h3></div>
  <div class="row">
    <div style="border-right: 1px solid #dadada" class="col-3">
      <h3>Navbar</h3>
    </div>

    <div class="col-9">
      <div class="chat-box__container">
        <div class="row">
          <div class="col-4" style="background: #f8fafb">
            <app-user-list></app-user-list>
          </div>
          <div class="col-8">
            <app-chat-box></app-chat-box>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
