<app-header-admin></app-header-admin>
<app-navbar-admin></app-navbar-admin>
<section id="main-content">
  <section class="wrapper">
    <div class="container mt-5 mb-5" style="border: 1px solid #000; box-shadow: 5px 10px 18px #888888;">
      <form style="width: 100%;margin-left: 25px;" [formGroup]="formGroup" (submit)="submit()">
        <fieldset>
          <div class="services-top">
            <h1>New Product</h1>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label" style="padding: 10px 20px 10px 40px;">Product Code:
              <i style="color: red">*</i>
            </label>
            <div class="col-sm-7">
              <input type="text" class="form-control" formControlName="codeProduct" placeholder="spoon">
              <div
                *ngIf="(getControl.codeProduct.dirty || getControl.codeProduct.touched) && getControl.codeProduct.invalid">
                <div *ngIf="getControl.codeProduct.errors.required" style="color: red;">
                  Not Empty
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label" style="padding: 10px 20px 10px 40px;">Product Name:
              <i style="color: red">*</i>
            </label>
            <div class="col-sm-7">
              <input type="text" class="form-control" formControlName="nameProduct" placeholder="spoon" maxlength="60">
              <div
                *ngIf="(getControl.nameProduct.dirty || getControl.nameProduct.touched) && getControl.nameProduct.invalid">
                <div *ngIf="getControl.nameProduct.errors.required" style="color: red;">
                  Not Empty
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row ">
            <label class="col-sm-3 col-form-label" style="padding: 10px 20px 10px 40px;">ID Poster:
              <i style="color: red">*</i>
            </label>
            <div class="col-sm-5">
              <input type="text" class="form-control" formControlName="idPoster" placeholder="9999"
                     (change)="onChangeIdPost()">
              <span>{{poster?.nameMember}}</span>
            </div>
            <div class="col-sm-2">
              <button type="button" class="form__group_button_check" (click)="check()">Check <i
                class='bx bx-loader-alt'></i></button>
            </div>
          </div>
          <!--        <div class="form-group row">-->
          <!--          <label class="col-sm-3 col-form-label" style="padding: 10px 20px 10px 40px;">Poster Information:-->
          <!--            <i style="color: red">*</i>-->
          <!--          </label>-->
          <!--          <div class="col-sm-7">-->
          <!--            <textarea type="textarea" class="form-control" rows="4" placeholder="refugees" formControlName="posterInformation"></textarea>-->
          <!--            <div *ngIf="(getControl.posterInformation.dirty || getControl.posterInformation.touched) && getControl.posterInformation.invalid">-->
          <!--              <div *ngIf="getControl.posterInformation.errors.required" style="color: red;">-->
          <!--                Not Empty-->
          <!--              </div>-->
          <!--            </div>-->
          <!--          </div>-->
          <!--        </div>-->
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" style="padding: 10px 20px 10px 40px;">Category:
              <i style="color: red">*</i>
            </label>
            <div class="col-sm-7">
              <select class="form-control" formControlName="typeProduct">
                <option *ngFor="let type of typeProductList"
                        [value]="type.idProductType">{{ type.nameProductType }}</option>
              </select>
              <div
                *ngIf="(getControl.typeProduct.dirty || getControl.typeProduct.touched) && getControl.typeProduct.invalid">
                <div *ngIf="getControl.typeProduct.errors.required" style="color: red;">
                  Not Empty
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label" style="padding: 10px 20px 10px 40px;">InitialPrice: <i
              style="color: red">*</i></label>
            <div class="col-sm-7 start-price">
              <input type="text" class="form-control" placeholder="5.000" formControlName="initialPrice">
              <div
                *ngIf="(getControl.initialPrice.dirty || getControl.initialPrice.touched) && getControl.initialPrice.invalid">
                <div *ngIf="getControl.initialPrice.errors.required" style="color: red;">
                  Not Empty
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label" style="padding: 10px 20px 10px 40px;">Increment Price: <i
              style="color: red">*</i></label>
            <div class="col-sm-7 price-step">
              <input type="number" class="form-control" value="100.000" formControlName="incrementPrice">
              <div
                *ngIf="(getControl.incrementPrice.dirty || getControl.incrementPrice.touched) && getControl.incrementPrice.invalid">
                <div *ngIf="getControl.incrementPrice.errors.required" style="color: red;">
                  Not Empty
                </div>
              </div>
            </div>
          </div>


        <div class="form-group row">
          <label class="col-sm-3 col-form-label" style="padding: 10px 20px 10px 40px;">Picture: <i
            style="color: red">*</i></label>
          <div class="col-sm-7">
            <!-- <img src="https://bizweb.dktcdn.net/thumb/grande/100/175/988/products/282789462-777732206735388-9068094231811191086-n.jpg?v=1655720157000"
                style="width: 205px; height: 205px">
            <img src="https://bizweb.dktcdn.net/thumb/grande/100/175/988/products/at120-40-ou.jpg?v=1654055106000"
                style="width: 205px; height: 205px">
            <img src="https://bizweb.dktcdn.net/thumb/grande/100/175/988/products/chiron-baguette-cr7-3-copy-2.jpg?v=1653893197000"
                style="width: 205px; height: 205px"> -->
            <div class="image-container d-flex" style="gap: 10px; overflow-y: auto;">
              <img
                style="width: 100px; height: 100px; cursor: pointer"
                *ngFor="let file of files; index as i" [src]="file.base64 | safe:'resourceUrl'"
                title="click to remove this image"
                (click)="onDeleteImage(i)"
              />
            </div>
            <br />
            <label for="file" class="btn-upload">Upload image</label>
            <input id="file" style="display: none;" type="file" multiple="true" (change)="onUploadFile($event)">
          </div>
        </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label" style="padding: 10px 20px 10px 40px;">Start Time:
              <i style="color: red">*</i>
            </label>
            <div class="col-sm-7">
              <input type="datetime-local" step="1" formaction="MM-dd-yyyy-HH-mm" class="form-control"
                     formControlName="startDate">
              <div
                *ngIf="(getControl.startDate.dirty || getControl.startDate.touched) && getControl.startDate.invalid">
                <div *ngIf="getControl.startDate.errors.required" style="color: red;">
                  Not Empty
                </div>

                <div *ngIf="getControl.startDate.errors.invalid" style="color: red">
                  Start date must be smaller than End date
                </div>
              </div>
            </div>
          </div>


        <div class="form-group row">
          <label class="col-sm-3 col-form-label" style="padding: 10px 20px 10px 40px;">End Time:
            <i style="color: red">*</i>
          </label>
          <div class="col-sm-7">
            <input type="datetime-local" step="1"  class="form-control" formControlName="endDate">
            <div *ngIf="(getControl.endDate.dirty || getControl.endDate.touched) && getControl.endDate.invalid">
              <div *ngIf="getControl.endDate.errors.required" style="color: red;">
                Not Empty
              </div>

              <div *ngIf="getControl.endDate.errors.invalid" style="color: red;">
                End date must be bigger than Start date
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label" style="padding: 10px 20px 10px 40px;">Description:
              <i style="color: red">*</i>
            </label>
            <div class="col-sm-7">
              <textarea type="textarea" class="form-control" rows="5" formControlName="productDescription"></textarea>
              <div
                *ngIf="(getControl.productDescription.dirty || getControl.productDescription.touched) && getControl.productDescription.invalid">
                <div *ngIf="getControl.productDescription.errors.required" style="color: red;">
                  Not Empty
                </div>

              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-2">
              <input type="submit" class="form__group_button_edit" value=" New Product">
            </div>
            <div class="col-sm-2">
              <input type="button" (click)="resetForm()" class="form__group_button_retype" value="Reset">
            </div>
            <div class="col-sm-2">
              <a class="form__group_button_cancel text-white" [routerLink]="'/product/list'">Cancel</a>
            </div>
          </div>
        </div>
        </fieldset>
      </form>
    </div>
  </section>
</section>
<app-footer-admin style=""></app-footer-admin>

