<div id="sidebar" class="nav-collapse">
  <ul  class="sidebar-menu"  id="nav-accordion" >
    <p class="centered"><a href="#"><img src="../../../assets/img/messi-profile.jpg" class="img-circle" width="80"></a></p>
    <h5 class="centered">A0721I1 ADMIN</h5>
    <li class="mt">
      <a class="active" [routerLink]="['../']">
        <i class="fa fa-dashboard"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="sub-menu">
      <a href="javascript:;">
        <i class="fa fa-desktop"></i>
        <span>Management</span>
      </a>
      <ul class="sub">
        <li><a href="#">Invoice Management</a></li>
        <li><a [routerLink]="['./member/list']">Member Management</a></li>
        <li><a href="#">Product Management</a></li>
        <li><a href="#">General</a></li>
      </ul>
    </li>


    <li>
      <a [routerLink]="['./chat-page']">
        <i class="fa fa-envelope"></i>
        <span>Admin Consultant</span>
        <span class="label label-theme pull-right mail-info">2</span>
      </a>
    </li>
    <li class="sub-menu">
      <a [routerLink]="['./product/statistic']">
        <i class=" fa fa-bar-chart-o"></i>
        <span>Charts</span>
      </a>
    </li>
    <li class="sub-menu">
      <a href="javascript:;">
        <i class="fa fa-comments-o"></i>
        <span>Chat Room</span>
      </a>
      <ul class="sub">
        <li><a href="#">Lobby</a></li>
        <li><a href="#"> Chat Room</a></li>
      </ul>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-map-marker"></i>
        <span>Google Maps</span>
      </a>
    </li>
  </ul>
<!--  <div class="navbar__admin-container">-->
<!--    <div class="navbar__admin-header">-->
<!--      <p class="centered"><a href="#"><img src="../../../assets/img/messi-profile.jpg" class="img-circle"-->
<!--                                           width="80"></a>-->
<!--      </p>-->
<!--      <h5 class="centered">A0721I1 ADMIN</h5>-->
<!--    </div>-->

<!--    <div class="navbar__admin-list">-->
<!--      <div class="navbar__admin-item active">-->
<!--        <a [routerLink]="['../']"><i class="fa fa-dashboard"></i><span>Dashboard</span></a>-->
<!--      </div>-->

<!--      <div class="navbar__admin-item">-->
<!--        <a [routerLink]="['./chat-page']"><i class="fa fa-envelope"></i><span>Admin Consultant</span></a>-->
<!--      </div>-->

<!--      <div class="navbar__admin-item">-->
<!--        <a [routerLink]="['./']">Product Management</a>-->
<!--      </div>-->
<!--      <div class="navbar__admin-item">-->
<!--        <a [routerLink]="['./']">Invoice Management</a>-->
<!--      </div>-->
<!--      <div class="navbar__admin-item">-->
<!--        <a [routerLink]="['./transaction']">Transaction Management</a>-->
<!--      </div>-->
<!--      <div class="navbar__admin-item">-->
<!--        <a [routerLink]="['./admin/product/statistic']">-->
<!--          <i class=" fa fa-bar-chart-o"></i>-->
<!--          <span>Statistic</span>-->
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</div>
<script>
  const hideNavHp = document.querySelector('#header');
  const hideFooterHp = document.querySelector('.footer__container');
  // @ts-ignore
  // tslint:disable-next-line:no-unused-expression
  hideNavHp.style.display = 'none';
  // @ts-ignore
  // tslint:disable-next-line:no-unused-expression
  hideFooterHp.style.display = 'none';
</script>
