<div class="navbar__admin-container">
  <div class="navbar__admin-header">
    <img src="../../../assets/img/messi-profile.jpg" alt="">

    <span>A0721I1 Admin</span>
  </div>

  <div class="navbar__admin-list">
    <div class="navbar__admin-item active">
      <a [routerLink]="['../']"> <i class="fa fa-dashboard"></i>Dashboard</a>
    </div>

    <div class="navbar__admin-item">
      <a [routerLink]="['./chat-page']"><i class="fa fa-envelope"></i>Admin Consultant</a>
    </div>

    <div class="navbar__admin-item">
      <a [routerLink]="['./product/statistic']">Statistic Product</a>
    </div>

    <div class="navbar__admin-item">
      <a [routerLink]="['./']">Product Management</a>
    </div>

    <div class="navbar__admin-item">
      <a [routerLink]="['./']">Member Management</a>
    </div>
  </div>
</div>
