
<div class="container">
  <section id="main-content">
    <section class="wrapper">
      <app-header-admin></app-header-admin>
      <app-navbar-admin></app-navbar-admin>
      <!-- Đây là component để chính -->
      <div class="chat-box__container">
        <div class="row" style="min-height: 550px">
          <div class="col-sm-12 col-md-4" style=" background: #f8fafb;border-right: 1px solid #dadada">
            <app-user-list (userIdItem)="getUserFromChild($event)"></app-user-list>
          </div>
          <div class="col-sm-12 col-md-8" style="padding: 50px 30px 20px 20px; background: #f8fafb">
            <app-chat-box-admin [userIdParent]="userItemChild"></app-chat-box-admin>
          </div>
        </div>
      </div>
    </section>
  </section>
</div>
<app-footer-admin></app-footer-admin>

