<aside>
  <div id="sidebar" class="nav-collapse ">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu" id="nav-accordion">
      <!--  Profile Update for admin        -->
      <p class="centered"><a href="#"><img src="assets/img/messi-profile.jpg" class="img-circle" width="80"></a></p>
      <h5 class="centered">Bach Le Trong</h5>
      <li class="mt">
        <a class="active" href="/admin-home">
          <i class="fa fa-dashboard"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="sub-menu">
        <a href="javascript:;">
          <i class="fa fa-desktop"></i>
          <span>Functions</span>
        </a>
        <ul class="sub">
          <li><a href="#">General</a></li>
          <li><a href="#">Product Management</a></li>
          <li><a href="#">Member Management</a></li>
          <li><a href="#">Transaction Management</a></li>
        </ul>
      </li>
      <li class="sub-menu">
        <a href="javascript:;">
          <i class="fa fa-book"></i>
          <span>Extra Pages</span>
        </a>
        <ul class="sub">
          <li><a href="#">Blank Page</a></li>
          <li><a href="#">Login</a></li>
          <li><a href="#">Lock Screen</a></li>
          <li><a href="#">Profile</a></li>
          <li><a href="#">Invoice</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">404 Error</a></li>
          <li><a href="#">500 Error</a></li>
        </ul>
      </li>
      <li class="sub-menu">
        <a href="javascript:;">
          <i class="fa fa-tasks"></i>
          <span>Tasks</span>
        </a>
        <ul class="sub">
          <li><a href="#">Agendas</a></li>
          <li><a href="#">Trello</a></li>
          <li><a href="#">Daily tasks</a></li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-envelope"></i>
          <span>Mail</span>
          <span class="label label-theme pull-right mail-info">2</span>
        </a>
      </li>
      <li class="sub-menu">
        <a href="javascript:;">
          <i class=" fa fa-bar-chart-o"></i>
          <span>Charts</span>
        </a>
        <ul class="sub">
          <li><a href="statistic.html">Statistic products</a></li>
        </ul>
      </li>
      <li class="sub-menu">
        <a href="javascript:;">
          <i class="fa fa-comments-o"></i>
          <span>Chat Room</span>
        </a>
        <ul class="sub">
          <li><a href="#">Lobby</a></li>
          <li><a href="#">Chat Room</a></li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-map-marker"></i>
          <span>Google Maps</span>
        </a>
      </li>
    </ul>
    <!-- sidebar menu end-->
  </div>
</aside>



