.tonghop{
  font-size: 1.2rem;
}
.tonghop p{
  border: 1px solid #dee2e6;
  height: 40px;
  margin-top: 10px;
}
.mot{
  font-size: 1.2rem;
}
.mot p {
  border: 1px solid #dee2e6;
  height: 40px;
  margin-top: 10px;
}
.btn:hover {
  /*    cursor: pointer;*/
  /*color: black;*/
  background-color: #ff3366;
  transition: 0.5s ease all;
  border: 1px solid var(--grad-clr1);
  /*}*/
}

.btn {
  animation: scaleBtn 0.6s;
  box-sizing: border-box;
  border-radius: 13px;
  background: #11B683;
  color: #f3f3f3;
  border-color: white;
}
@media (max-width:768px) {

  /*.row {*/
  /*  display: inline-block;*/
  /*}*/

  .row {
    display: inline-block;
    position: absolute;
    background: #fff;
    width: 60rem;
    padding-left: 17px;

    /*height: calc(100vh - 9.5rem);*/
  }
}

/*!*  }*!*/

/*    font-size: 2rem;*/

/*  }*/

/*    right: 2rem;*/
/*!*  }*!*/
/*@media (max-width:480px) {*/

/*  !*.row {*!*/
/*  !*  display: inline-block;*!*/
/*  !*}*!*/

/*  .row {*/
/*    display: inline-block;*/
/*    position: absolute;*/
/*    background: #fff;*/
/*    background: #fff;*/
/*    height: calc(100vh - 9.5rem);*/
/*  }*/
/*}*/

/*!*  .row{*!*/
/*!*    right:0;*!*/
/*!*  }*!*/

/*.row{*/
/*  display: block;*/
/*  font-size: 2rem;*/
/*}*/

/*!*}*!*/


