<div class="page__container">
  <div class="page">
    <div class="page__layout">
      <div class="page__left">
        <div class="page__wrapper">

          <div class="product__image">
            <div class="numbertext" id="numbertext"></div>
            <a onclick="prevImage()" class="prev_image"><</a>
            <div>
              <img id="mainImage" alt="Image">
            </div>
            <a onclick="nextImage()" class="next_image">></a>
            <div style="text-align:center" id="dot"></div>
          </div>
        </div>

      </div>

      <div class="page__right">
        <h2 class="product__title">{{product.nameProduct}}</h2>
        <div class="product__auction-info">
          <div class="start__day">
            <p>Start: {{product.startDate}}</p>
          </div>
          <div class="end__day">
            <p>End: {{product.endDate}}</p>
          </div>
        </div>
        <div class="product__auction">
          <p class="product__auction-time" id="time-remain"></p>
          <div class="product__auction-info">
            <div class="product__auction-price">
              <h5>Current Bid (USD)</h5>
              <p>{{currentPrice}}</p>
            </div>
            <div class="product__auction-winner">
              <h5>Price Step (USD)</h5>
              <p id="priceStep">{{product.incrementPrice}}</p>
            </div>
            <div class="product__auction-winner">
              <h5 id="winner">Current Winner</h5>
              <p>{{currentWinner}}</p>
            </div>
          </div>
        </div>

        <div class="bid-level">
          <form>
            <input type="hidden" class="moneyDauGia">
            <div class="form__auction">
              <h3>Auction Price (USD):</h3>
              <div class="form__auction_button">
                <button id="minus-btn" onclick='minusPrice()' class="minus__btn border rounded-circle" style="background: white;border-color: #c9c9c9" type="button">
                  <span>&#8722;</span>
                </button>
                <input style="text-align: center" type="text" class="moneyDauGia" id="price" name="money" [value]="currentPrice">
                <button id="plus-btn" onclick="plusPrice()" class="plus__btn border rounded-circle" style="background: #041E42; border-color: #041E42" type="button">
                  <span>&#43;</span>
                </button>
              </div>
            </div>
            <button type="button" class="bid-btn" style="color: white">
<!--              <span class="btn-icon"><ion-icon name="hammer"></ion-icon></span>-->
              Auction
            </button>
          </form>
        </div>

      </div>
    </div>

    <div class="table__auction">
      <table class="table">
        <thead>
        <tr class="vnsd">
          <th>#</th>
          <th>Bidder</th>
          <th>Auction price (USD)</th>
          <th>Time</th>
        </tr>
        </thead>
        <tbody>
        <tr class="winner">
          <td>1</td>
          <td>
            <span>HuyNN</span>
          </td>
          <td>1550</td>
          <td>2022/7/7 11:59:00</td>
        </tr>
        <tr>
          <td>2</td>
          <td>
            <span>QuangNV</span>
          </td>
          <td>1540</td>
          <td>2022/7/7 9:30:10</td>
        </tr>
        <tr>
          <td>3</td>
          <td>
            <span>ToanNv</span>
          </td>
          <td>1530</td>
          <td>2022/7/7 8:10:30</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="product__description">
      <h4 class="product__description-title">
        Product Description
      </h4>
      <p>Galaxy S22 is the most advanced smartphone in the Galaxy S22 series 3 that Samsung has
        launched. Integrating the perfect S Pen in the body, equipped with a powerful processor
        for extremely smooth and outstanding usage tasks with a unique bezel-less camera cluster
        with its own signature.</p>
    </div>
  </div>
</div>
<script src="/js/auction.js"></script>
