<div class="container" id="container">
  <div class="row">
    <div class="form-container col-md-12 col-lg-8 ">
      <form (ngSubmit)="forgotPassword()" [formGroup]="forgotPasswordForm">
        <div style="margin-bottom: 30px; text-align: center">
          <h3><i class="fa fa-lock fa-4x"></i></h3>
          <h1>Forgot Password</h1>
        </div>
        <div>
          <p class="txt-message">{{message}}</p>
        </div>
        <div class="input-info" style="margin-bottom: 40px">
          <div class="form-group">
            <span><i class="fas fa-user" aria-hidden="true"></i> Username </span>
            <input type="text" class="form-control" placeholder="" formControlName="username">
            <div class="text-danger"
                 *ngIf="forgotPasswordForm?.get('username')?.hasError('required') && forgotPasswordForm?.get('username')?.touched">
              Cannot be left blank
            </div>
            <span class="bar"></span>
          </div>
          <div class="form-group">
            <span><i class="fas fa-solid fa-envelope" aria-hidden="true"></i> Email</span>
            <input type="email" class="form-control" placeholder="" formControlName="email">
          </div>
          <div class="text-danger"
               *ngIf="forgotPasswordForm?.get('email')?.hasError('required') && forgotPasswordForm?.get('email')?.touched">
            Cannot be left blank
          </div>
          <div class="text-danger"
               *ngIf="forgotPasswordForm?.get('email')?.hasError('email') && forgotPasswordForm?.get('email')?.touched">
            Invalid email
          </div>
          <button class="btn btn-warning1 " type="submit" [disabled]="!forgotPasswordForm.valid">Reset password</button>
        </div>
      </form>
    </div>
    <div class="overlay-container col-md-12 col-lg-4 " id="overlayCon">
      <div class="overlay">
        <div class="overlay-panel overlay-right">
          <h1>Forgot Password</h1>
          <p>Lost your password? Please enter your username and email address. You will receive a link to
            create a new password via email</p>
          <br>
          <p>New here?</p>
          <button>Sign In</button>
          <br>
          <p>Already have account?</p>
          <button>Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</div>