<app-header-admin></app-header-admin>
<app-navbar-admin></app-navbar-admin>
<section id="main-content" class="wrapper">
  <div class="container mt-5 mb-5">

    <div>
      <form [formGroup]="editForm" *ngIf="editForm" (ngSubmit)="onSubmit()">

        <div class="services-top">
          <h1>Update Product</h1>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-md-3 col-3 col-form-label">Product Name:<i style="color: red">(*)</i>
          </label>
          <div class="col-sm-7 col-md-7 col-7">
            <input formControlName="nameProduct" type="text" class="form-control">
          </div>
        </div>

        <div class="form-group row ">
          <label class="col-sm-3 col-md-3 col-3 col-form-label">ID Poster:<i style="color: red">(*)</i>
          </label>
          <div class="col-sm-5 col-md-5 col-5">
            <input formControlName="idMember" type="text" class="form-control" readonly>
          </div>
          <div class="col-sm-2 col-md-2 col-2">
            <button type="button" class="form__group_button_check">Check <i class='bx bx-loader-alt'></i>
            </button>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-md-3 col-3 col-form-label">Poster Information:<i style="color: red">(*)</i>
          </label>
          <div class="col-sm-7 col-mod-7 col-7">
          <textarea formControlName="nameMember" type="textarea" class="form-control" rows="3"
                    style="resize:none" readonly>
          </textarea>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-md-3 col-3 col-form-label">Category:<i style="color: red">(*)</i>
          </label>
          <div class="col-sm-7 col-md-7 col-7 ">
            <select class="form-control">
              <option *ngFor="let index of typeProduct" [ngValue]="index"
                      [selected]="index.idProductType === editForm.controls.typeProduct.value.idProductType">{{index.nameProductType}}
              </option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-3 col-form-label">Initial Price:<i style="color: red">(*)</i></label>
          <div class="col-7 start-price">
            <input type="text" class="form-control" formControlName="initialPrice">
            <i class='bx bxs-dollar-circle bx-md'></i>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-md-3 col-3 col-form-label">Increment Price:<i style="color: red">(*)</i></label>
          <div class="col-sm-7 col-md-7 col-7 price-step">
            <input type="text" class="form-control" formControlName="incrementPrice">
            <i class='bx bxs-dollar-circle bx-md'></i>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-md-3 col-3 col-form-label">Picture:<i style="color: red">(*)</i></label>
          <div class="col-sm-7 col-md-7 col-7 picture">
            <img *ngFor=" let img of imageProduct" style="height: 200px; width: 200px;" src="{{img.imageProduct}}">
            <br/>
            <div>
              <input type="file" id="imgProduct" name="imgProduct" multiple (change)="preview($event)"/>
            </div>

          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-md-3 col-3 col-form-label">Start Time:<i style="color: red">(*)</i>
          </label>
          <div class="col-sm-7 col-md-7 col-7">
            <input type="datetime-local" class="form-control" step="1" formControlName="startDate">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-3  col-md-3 col-3 col-form-label">End Time:<i style="color: red">(*)</i>
          </label>
          <div class="col-sm-7 col-md-7 col-7">
            <input type="datetime-local" step="1" class="form-control" formControlName="endDate">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-md-3 col-3 col-form-label">Description:<i style="color: red">(*)</i>
          </label>
          <div class="col-sm-7 col-md-7 col-7">
                    <textarea type="textarea" class="form-control" rows="4" style="resize:none"
                              formControlName="productDescription">
                    </textarea>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-3  col-3">
          </div>
          <div class="col-sm-2  col-2">
            <button type="submit" class="form__group_button_edit">
              aaaaa <i class='bx bx-edit'></i>
            </button>
<!--            <button type="button" class="form__group_button_edit" data-toggle="modal" data-target="#exampleModalUpdate">-->
<!--              Update <i class='bx bx-edit'></i>-->
<!--            </button>-->

          </div>
          <div class="col-sm-2 col-2">
            <button type="submit" class="form__group_button_retype">
              Retype <i class='bx bxs-eraser'></i>
            </button>

          </div>
          <div class="col-sm-2 col-2 ">
            <button type="submit" class="form__group_button_cancel" routerLink="/product/list">
              Back <i class='bx bx-arrow-back'></i>
            </button>

          </div>
          <div class="col-sm-3  col-3">
          </div>

        </div>
      </form>
    </div>
  </div>
</section>
<app-footer-admin></app-footer-admin>


