.clearfix {
  position: absolute;
  right: 6%;
}

.btn-pagination a {
  color: white;
}

h1,
td,
th {
  text-align: center;
}

hr {
  background: #11b683;
  height: 1px;
  margin-top: 70px;
  margin-bottom: 50px;
}

.total-revenue {
  border-left: 1px solid Silver;
  border-top: 1px solid Silver;
  border-right: 1px solid Silver;
  border-bottom: 1px solid Silver;
  margin: 0;
  padding: 10px;
}

h1 {
  color: #11b683;
}

label {
  display: inline-block;
}

.title {
  background: #11b683;
  color: white;
}

label {
  font-size: 18px;
  margin: 0;
}

.btn {
  background: #ff3366;
}

.btn:hover {
  background: #11b683;
}

table {
  overflow:hidden;
  overflow-y: scroll;
  /*max-width: fit-content;*/
  min-width: max-content;
}

.total-revenue {
  margin-left: 75%;
}

/* Mobile: with < 740px */
@media only screen and (max-width: 46.188rem) {
  .clearfix {
    position: absolute;
    right: 6%;
  }

  .total-revenue {
    margin-left: 65%;
  }
}

/* Tablet: with >= 740px and with < 1024px */
@media only screen and (min-width: 46.25rem) and (max-width: 63.938rem) {
  .clearfix {
    position: absolute;
    right: 10%;
  }

  .total-revenue {
    margin-left: 65%;
  }
}

/*Laptop: >= 1024px */
@media only screen and (max-width: 85.313rem) {
  .clearfix {
    position: absolute;
    right: 10%;
  }

  .total-revenue {
    margin-left: 65%;
  }
}

.page-item .page-link {
  color: rgb(24, 100, 46) !important;
}

.page-item .page-link:hover {
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
  color: white !important;
}

.page-item.active .page-link {
  background-color: rgb(24, 100, 46) !important;
  border-color: rgb(24, 100, 46) !important;
  color: white !important;
}

.pagination li{
  margin-inside: 3px;
}
