<div class="user-list__container">
  <div class="header">
    <h3>Message</h3>

    <div class="form__search-chat">
      <input type="text" placeholder="Search">
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
  </div>

  <div class="middle">
    <ul *ngIf="statusUserMsg" class="user-list__group">
      <li class="user-list__item" (click)="seenMsg(statusUserMsg.userId)">
        <div class="info">
          <p *ngIf="member">{{member.nameMember}}</p>
          <span>{{statusUserMsg.messageNew}}</span>
          <span *ngIf="!statusUserMsg.messageNew">Đã gửi 1 tin nhắn đính kèm</span>
        </div>

        <div class="notification">
          <p class="date">2020-05-12</p>
          <span class="quantity" *ngIf="statusUserMsg.quantity > 0">{{statusUserMsg.quantity}}</span>
        </div>
      </li>
<!--      <li class="user-list__item" [ngClass]="statusMsg.statusMsg?'not-seen':null"-->
<!--          (click)="seenMsg(statusMsg.userId)" *ngFor="let statusMsg of messages | async">-->
<!--        <div class="info">-->
<!--          <p>Tuan</p>-->
<!--          <span>{{statusMsg[messages.length - 1].message}}</span>-->
<!--          <span *ngIf="!statusMsg.messageNew">Đã gửi 1 tin nhắn đính kèm</span>-->
<!--        </div>-->

<!--        <div class="notification">-->
<!--          <p class="date">2020-05-12</p>-->
<!--          <span class="quantity" *ngIf="statusMsg.quantity > 0">{{statusMsg.quantity}}</span>-->
<!--        </div>-->
<!--      </li>-->
    </ul>
  </div>
</div>
