
<!--<button routerLink="/home/show-home">show-home</button>-->
<!--<button routerLink="/home/instruction">instruction</button>-->
<!--<button routerLink="/home/product-detail">product-detail</button>-->
<!--<button routerLink="/home/forgot-password">forgot-password</button>-->
<!--<br>-->
<!--<button routerLink="/auction-product/post-product">post-product</button>-->
<!--<button routerLink="/auction-product/auction">auction</button>-->
<!--<br>-->
<!--<button routerLink="/member/list">list-member</button>-->
<!--<button routerLink="/member/sign-up">sign-up-member</button>-->
<!--<br>-->
<!--<button routerLink="/transaction/list">list-transaction</button>-->
<!--<br>-->
<!--<button routerLink="/payment/invoice">invoice</button>-->
<!--<br>-->
<!--<button routerLink="/payment/invoice-status">invoice-status</button>-->
<!--<br>-->
<!--<button routerLink="/product/statistic">statistic</button>-->
<!--<button routerLink="/product/list">list-product</button>-->
<!--<button routerLink="/product/review">review-product</button>-->
<!--<button routerLink="/product/edit">edit-product</button>-->


<!--&lt;!&ndash; bạn nào pull về thì chỉ để lại 4 cái này app-header, router-outlet, app-footer, app-room-chat-user -> còn lại bỏ hết ra nha&ndash;&gt;-->
<!--<app-room-chat-user></app-room-chat-user>-->
<!--<app-header ></app-header>-->
<!--<router-outlet></router-outlet>-->
<!--<app-footer ></app-footer>-->
<div class="container-app">
  <div *ngIf="path !=='http://localhost:4200/login/authentication'">

    <app-header-unlogin></app-header-unlogin>
    <app-header></app-header>
    <app-room-chat-user></app-room-chat-user>
  </div>
  <router-outlet></router-outlet>
  <div *ngIf="path !=='http://localhost:4200/login/authentication'">
    <app-footer class="app-footer"></app-footer>
  </div>
</div>


<!--<app-header></app-header>-->
<!--<app-room-chat-user></app-room-chat-user>-->
<!--<router-outlet></router-outlet>-->
<!--<app-footer class="app-footer"></app-footer>-->


