<!--&lt;!&ndash;<button routerLink="/home/show-home">show-home</button>&ndash;&gt;-->
<!--&lt;!&ndash;<button routerLink="/home/instruction">instruction</button>&ndash;&gt;-->
<!--&lt;!&ndash;<button routerLink="/home/product-detail">product-detail</button>&ndash;&gt;-->
<!--&lt;!&ndash;<button routerLink="/home/forgot-password">forgot-password</button>&ndash;&gt;-->
<!--&lt;!&ndash;<br>&ndash;&gt;-->
<!--&lt;!&ndash;<button routerLink="/auction-product/post-product">post-product</button>&ndash;&gt;-->
<!--&lt;!&ndash;<button routerLink="/auction-product/auction">auction</button>&ndash;&gt;-->
<!--&lt;!&ndash;<br>&ndash;&gt;-->
<!--&lt;!&ndash;<button routerLink="/member/list">list-member</button>&ndash;&gt;-->
<!--&lt;!&ndash;<button routerLink="/member/sign-up">sign-up-member</button>&ndash;&gt;-->
<!--&lt;!&ndash;<br>&ndash;&gt;-->
<!--&lt;!&ndash;<button routerLink="/transaction/list">list-transaction</button>&ndash;&gt;-->
<!--&lt;!&ndash;<br>&ndash;&gt;-->
<!--&lt;!&ndash;<button routerLink="/payment/invoice">invoice</button>&ndash;&gt;-->
<!--&lt;!&ndash;<br>&ndash;&gt;-->
<!--&lt;!&ndash;<button routerLink="/product/statistic">statistic</button>&ndash;&gt;-->
<!--&lt;!&ndash;<button routerLink="/product/list">list-product</button>&ndash;&gt;-->
<!--&lt;!&ndash;<button routerLink="/product/review">review-product</button>&ndash;&gt;-->
<!--&lt;!&ndash;<button routerLink="/product/edit">edit-product</button>&ndash;&gt;-->
<!--&lt;!&ndash;<button routerLink="/admin/admin-home">admin-home</button>&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash; bạn nào pull về thì chỉ để lại 4 cái này app-header, router-outlet, app-footer, app-room-chat-user -> còn lại bỏ hết ra nha&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;<div class="container-app">&ndash;&gt;-->
<!--&lt;!&ndash;  <app-room-chat-user></app-room-chat-user>&ndash;&gt;-->
<!--&lt;!&ndash;  <app-header class="app-header"></app-header>&ndash;&gt;-->
<!--&lt;!&ndash;  <router-outlet class="router-outlet"></router-outlet>&ndash;&gt;-->
<!--&lt;!&ndash;  <app-footer class="app-footer"></app-footer>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<app-home-admin></app-home-admin>-->
<!--<button routerLink="/product/statistic">statistic</button>-->
<app-statistic></app-statistic>
