<div class="footer__container">
  <div class="container">
    <div class="footer__header">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-4">
          <div class="footer__item">
            <h3 class="header">Mobile Apps</h3>

            <div class="download-app">
              <div class="download-app__item">
                <i class="fa-brands fa-google-play"></i>
                <div class="download-app__item-content">
                  <span>Get in on <br>
                    <p>Google Play</p>
                  </span>
                </div>
              </div>

              <div class="download-app__item">
                <i class="fa-brands fa-app-store"></i>
                <div class="download-app__item-content">
                  <span>Get in on <br>
                    <p>App Store</p>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-4">
          <div class="footer__item">
            <h3 class="header">Contact Us</h3>

            <div class="content">
              <div class="content__item">
                <i class="move fa-solid fa-location-dot"></i>
                <span>295 Nguyen Tat Thanh Street, Thanh Binh, Hai Chau, Da Nang City</span>
              </div>

              <div class="content__item">
                <i class="fa-solid fa-phone"></i>
                <span>(+84)236 6517 021</span>
              </div>

              <div class="content__item">
                <i class="fa-solid fa-envelope"></i>
                <a href="mailto:nguyenhanhtuan1206@gmail.com">A0721I1@gmail.com</a>
              </div>

              <div class="content_item social">
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-google"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-4">
          <div class="footer__item">
            <h3 class="header">NewsLetter</h3>

            <div class="content">
              <span>Keep up with our always upcoming product features and technologies. Enter your e-mail and subscribe
                to our newsletter.</span>
            </div>

            <div class="footer__form">
              <input type="text" placeholder="Enter your e-mail">
              <button type="button">Subscribe</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer__bottom">
      <ul class="footer__bottom-left-area">
        <a routerLink="/home/about-us">About</a>
        <a>Service</a>
        <a routerLink="/home">Shop</a>
        <a>Blog</a>
        <a>PORTFOLIO</a>
        <a routerLink="/home/contact-us">CONTACTS</a>
      </ul>

      <p class="footer__bottom-right-area">
        © 2022 Designed by A0721I1
      </p>
    </div>
  </div>
</div>