.p-r-0 {
  padding-right: 0px !important;
}

.p-l-0 {
  padding-left: 0px !important;
}

.chat-box__container {
  overflow: hidden;
}

/* Responsive */
/* Mobile */
@media (max-width: 739px) {
  .d-none-m-b {
    display: none;
  }
}


.clearfix {
  display: flex;
  justify-content: right;
}

.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;

}

.btn-pagination a {
  color: white;
}

h1,
td,
th {
  text-align: center;
}


h1 {
  color: #11b683;
  margin-bottom: 30px;
}

.title {
  background: #11b683;
  color: white;
}

label {
  font-size: 18px;
  margin: 0;
}

.btn {
  background: #11b683;
  color: white;
}

.btn:hover {
  background: #ff3366;
}

table {
  overflow:hidden;
  overflow-y: scroll;
  min-width: max-content;
}

.content {
  margin: 15px 0 40px 0;

}

button,
select,
input {
  border-radius: 25px;
  margin-left: 10px;
}


.search-top {
  display: flex;
  padding-bottom: 15px;
  justify-content: center;

}

.search-bot {
  display: flex;
  padding-bottom: 15px;
  justify-content: center;
}

.search-bot input {
  width: 30%;
}

.total-revenue {
  display: flex;
  justify-content: center;
  border-left: 1px solid Silver;
  border-top: 1px solid Silver;
  border-right: 1px solid Silver;
  border-bottom: 1px solid Silver;
  margin-left: 71%;
}

/* tablet: with < 1700px */
@media only screen and (max-width: 106.25rem) {
  .total-revenue {
    display: flex;
    justify-content: center;
    border-left: 1px solid Silver;
    border-top: 1px solid Silver;
    border-right: 1px solid Silver;
    border-bottom: 1px solid Silver;
    margin-left: 71%;
  }
}

/* Mobile: with < 740px */
@media only screen and (max-width: 46.188rem) {

  select,
  input {
    margin-bottom: 10px;
  }

  .search-top {
    display: flex;
    padding-bottom: 15px;
    height: auto;
    flex-direction: row-reverse;
    justify-content: space-around;
    flex-flow: wrap;
  }

  .search-top input {
    width: 45%;
  }

  .search-top select {
    width: 45%;
  }

  .search-top .btn-top {
    width: 95%;
  }

  .search-bot {
    display: flex;
    padding-bottom: 15px;
    justify-content: center;
    flex-direction: column;
  }

  .search-bot input {
    width: 100%;
  }

  .total-revenue {
    display: flex;
    justify-content: center;
    border-left: 1px solid Silver;
    border-top: 1px solid Silver;
    border-right: 1px solid Silver;
    border-bottom: 1px solid Silver;
    margin-left: 71%;
  }
}

/* Tablet: with < 1010px */

@media only screen and (max-width: 63.125rem) {

  select,
  input {
    margin-bottom: 10px;
  }

  .search-top {
    display: flex;
    padding-bottom: 15px;
    height: auto;
    flex-direction: row-reverse;
    justify-content: space-around;
    flex-flow: wrap;
  }

  .search-top input {
    width: 45%;
  }

  .search-top select {
    width: 45%;
  }

  .search-top .btn-top {
    width: 95%;
  }

  .search-bot {
    ddisplay: flex;
    padding-bottom: 15px;
    height: auto;
    flex-direction: row-reverse;
    justify-content: space-around;
    flex-flow: wrap;
  }

  .search-bot input {
    width: 45%;
  }

  .search-bot select {
    width: 45%;
  }

  .search-bot .btn-bot {
    width: 95%;
  }

}

/* Mobile: with < 600px */
@media only screen and (max-width: 37.5rem) {

  select,
  input {
    margin-bottom: 10px;
  }

  .search-top {
    display: flex;
    padding-bottom: 15px;
    height: auto;
    flex-direction: row-reverse;
    justify-content: space-around;
    flex-flow: wrap;
  }

  .search-top input {
    width: 100%;
  }

  .search-top select {
    width: 100%;
  }

  .search-top .btn-top {
    width: 95%;
  }

  .search-bot {
    ddisplay: flex;
    padding-bottom: 15px;
    height: auto;
    flex-direction: row-reverse;
    justify-content: space-around;
    flex-flow: wrap;
  }

  .search-bot input {
    width: 100%;
  }

  .search-bot select {
    width: 100%;
  }

  .search-bot .btn-bot {
    width: 95%;
  }

}




.page-item .page-link {
  color: rgb(24, 100, 46) !important;
}

.page-item .page-link:hover {
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
  color: white !important;
}

.page-item.active .page-link {
  background-color: rgb(24, 100, 46) !important;
  border-color: rgb(24, 100, 46) !important;
  color: white !important;
}

.pagination li{
  margin-inside: 3px;
}
