<div class="about-us__container">
  <!-- About Us -->
  <div class="about-us section">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="about-us__img-group">
            <img src="./assets/img/home/about-us/about-img.jpg" alt="">

            <a class="circle button-watch__video">
              <i class="fa-solid fa-play"></i>
            </a>
          </div>
        </div>
        <div class="col-6">
          <div class="content-right">
            <h2 class="title"><span>A0721I1 Auction Website</span></h2>
            <h2>Your Trusted & Reliable Partner.</h2>
            <p>
              We have over 20 years of experience in leading the field and have built up auctioning expertise that puts us a cut above our competitors. No need to look any further - we are the best solution for online auctioning..
            </p>
            <p>We create pathways to connect millions of sellers and buyers in more than 190 markets around the world. Our technology empowers our customers, providing everyone the opportunity to grow and thrive — no matter who they are or where they are in the world. And the ripple effect of our work creates waves of change for our customers, our company, our communities and our planet.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Our Team -->
  <div class="our-team section">
    <div class="container">
      <div class="section-title">
        <h2>Our Core Team</h2>
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
          some form.</p>
      </div>

      <div class="team-list">
        <div class="row">
          <div class="col-3">
            <div class="single-team">
              <div class="single-team__img-group">
                <img src="./assets/home-header/image/CEO.jpeg" alt="">
              </div>

              <div class="info">
                <h3 class="name">Tim Cook</h3>
                <span>Founder, CEO</span>
              </div>

              <div class="social">
                <a>
                  <i class="circle fa-brands fa-facebook-f"></i>
                </a>
                <a>
                  <i class="circle fa-brands fa-skype"></i>
                </a>
                <a>
                  <i class="circle fa-brands fa-instagram"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="single-team">
              <div class="single-team__img-group">
                <img src="../../../assets/home-header/image/musk.jpeg" alt="">
              </div>

              <div class="info">
                <h3 class="name">Elon Musk</h3>
                <span>Financial Director</span>
              </div>

              <div class="social">
                <a>
                  <i class="circle fa-brands fa-facebook-f"></i>
                </a>
                <a>
                  <i class="circle fa-brands fa-skype"></i>
                </a>
                <a>
                  <i class="circle fa-brands fa-instagram"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="single-team">
              <div class="single-team__img-group">
                <img src="./assets/home-header/image/ceo-amz.jpeg" alt="">
              </div>

              <div class="info">
                <h3 class="name">Jeff Bezos</h3>
                <span>Marketing Director</span>
              </div>

              <div class="social">
                <a>
                  <i class="circle fa-brands fa-facebook-f"></i>
                </a>
                <a>
                  <i class="circle fa-brands fa-skype"></i>
                </a>
                <a>
                  <i class="circle fa-brands fa-instagram"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="single-team">
              <div class="single-team__img-group">
                <img src="./assets/home-header/image/dev.jpeg" alt="">
              </div>

              <div class="info">
                <h3 class="name">Anh Tuan</h3>
                <span>Lead Developer</span>
              </div>

              <div class="social">
                <a>
                  <i class="circle fa-brands fa-facebook-f"></i>
                </a>
                <a>
                  <i class="circle fa-brands fa-skype"></i>
                </a>
                <a>
                  <i class="circle fa-brands fa-instagram"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>